{% extends 'base.html' %}

{% block nav %}
    <li class="breadcrumb-item"><a href="{{ url_for('index') }}">Главная</a></li>
    <li class="breadcrumb-item active" aria-current="page">Создание викторины</li>
{% endblock %}

{% block content %}
    <form class="card" method="post">
        <div class="card-header">Создание викторины</div>
        <div class="card-body">
            <div class="form-group mx-auto">
                <label for="quizNameInput">Название викторины</label>
                <input class="form-control" id="quizNameInput" type="text" name="quiz_name" value="Новая викторина">
            </div>
            <input class="btn btn-primary btn-lg btn-block" type="submit" value="Создать">
        </div>
    </form>
{% endblock %}