{% extends 'base.html' %}

{% block content %}
    <form method="post">
        <label>
            Текст вопроса
            <input type="text" name="question_text" value="{{ question.text }}">
        </label><br>
        <label>
            Правильный ответ
            <select name="right_option">
                {% for option in question.options %}
                    <option value="{{ option.id }}"
                            {% if option.is_answer %}selected{% endif %}>{{ option.text }}</option>
                {% endfor %}
            </select>
        </label><br>
        <input type="submit" value="Изменить настройки вопроса">
    </form>
    <ol>
        {% for option in question.options %}
            <li>
                <form method="post">
                    <input type="hidden" name="option_id" value="{{ option.id }}">
                    <input type="text" name="option_text" value="{{ option.text }}">
                    <input type="submit" name="option_edit" value="Изменить">
                    {% if question.options|length != 1 %}
                        <input type="submit" name="option_delete" value="Удалить">
                    {% endif %}
                </form>
            </li>
        {% endfor %}
        <li>
            <form method="post">
                <input type="text" name="option_text">
                <input type="submit" name="option_add" value="Добавить">
            </form>
        </li>
    </ol>
{% endblock %}