{% extends 'base.html' %}

{% block content %}
    <h2>{{ quiz.name }}</h2>
    <h3>{{ question.text }}</h3>
    <form>
        {% for opt in options %}
            <input type="hidden" name="options[]" value="{{ opt }}">
        {% endfor %}

        <input type="hidden" name="question" value="{{ question.id }}">
        {% for option in question.options %}
            <label>
                <input type="radio" name="option" value="{{ option.id }}">{{ option.text }}<br>
            </label>
        {% endfor %}
        <input type="hidden" name="submitted">
        <input type="submit" value="Следующий">
    </form>
{% endblock %}